<!DOCTYPE html>
<html lang="en">
   
<head>
  <meta charset="utf-8">
  <title> <%= titulo %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
</head>

<body>
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card bg-dark textw-white text-center">
        <div class="card-hearder">
            <h3>
                Gràcies
            </h3>
        </div>
    </div>
  </div>
</body>
</html>