<!DOCTYPE html>
<html lang="en">
   
<head>
  <meta charset="utf-8">
  <title> <%= titulo %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
</head>

<body>
  <p>Canvi paraula clau.</p>
  <%- include('partials/tornar') %>
  <script src="/javascript/password.js"> </script>
</body>
</html>