body {
  background-color: #202020;
  color: white;
}

input.form-control {
  background: gainsboro;
}

.fa.fa-question{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blueviolet;
}

.acceso{
  color: white;
  font-size: 20px;
  font-weight:normal;
  background-color: blue;
  padding: 20px;
}

.hrefacc{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.hrefacc:hover{
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.hrefacc:visited .hrefacc:active {
  color: white;
  text-decoration: none;
}

.resultados{
  color: white;
  font-size: 16px;
  font-weight:normal;
  background-color: grey;
  margin-top: 28px;
}

.imagen{
  height: 200px;
}


