<div class="container ml-2">
    <div class="form-group mt-1 ms-4 mb-3">
        <input type="text" tagtxt="text<%= id %>" class="form-control bg-warning" aria-label="Small"
               aria-describedby="inputGroup-sizing-sm" maxlength = "120">
    </div>
</div>