<a href="/results/&idurl=<%= idurl %>&id=<%= idioma %>" class="btn btn-secondary my-3 w-30">
    <% if(idioma == 0){ %>
        Resultats actuals
    <% } else {%>  
        Resultados actuales
    <% } %>
</a>