<div  class="badge badge-secondary resultados" >
    <a href="/results/&idurl=<%= idurl %>&id=<%= idioma %>" class="hrefacc">
        <% if(idioma == 0){ %>
            Resultats actuals
        <% } else {%>  
            Resultados actuales
        <% } %>
    </a>
</div>
