<a href="/survey/&idurl=<%= idurl %>&id=<%= idioma %>" class="btn btn-primary my-3 w-25">
    <% if(idioma == 0){ %>
        Accedir enquesta
    <% } else {%>  
        Acceder encuesta
    <% } %>
</a>