<div  class="badge badge-primary acceso" >
    <a href="/survey/&idurl=<%= idurl %>&id=<%= idioma %>" class="hrefacc">
        <% if(idioma == 0){ %>
            Accedir
        <% } else {%>  
            Acceder
        <% } %>
    </a>
</div>